In [107]:
import pandas as pd
import numpy as np

In [108]:
# Define the headers since the data does not have any
headers = ["symboling", "normalized_losses", "make", "fuel_type", "aspiration",
           "num_doors", "body_style", "drive_wheels", "engine_location",
           "wheel_base", "length", "width", "height", "curb_weight",
           "engine_type", "num_cylinders", "engine_size", "fuel_system",
           "bore", "stroke", "compression_ratio", "horsepower", "peak_rpm",
           "city_mpg", "highway_mpg", "price"]

# Read in the CSV file and convert "?" to NaN
df_raw = pd.read_csv("http://mlr.cs.umass.edu/ml/machine-learning-databases/autos/imports-85.data",
                     header=None, names=headers, na_values="?" )

# Define a list of models that we want to review
models = ["toyota","nissan","mazda", "honda", "mitsubishi", "subaru", "volkswagen", "volvo"]

# Create a copy of the data with only the top 8 manufacturers
df = df_raw[df_raw.make.isin(models)].copy()
df.head()

,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
30,2,137.0,honda,gas,std,two,hatchback,fwd,front,86.6,...,92,1bbl,2.91,3.41,9.6,58.0,4800.0,49,54,6479.0
31,2,137.0,honda,gas,std,two,hatchback,fwd,front,86.6,...,92,1bbl,2.91,3.41,9.2,76.0,6000.0,31,38,6855.0
32,1,101.0,honda,gas,std,two,hatchback,fwd,front,93.7,...,79,1bbl,2.91,3.07,10.1,60.0,5500.0,38,42,5399.0
33,1,101.0,honda,gas,std,two,hatchback,fwd,front,93.7,...,92,1bbl,2.91,3.41,9.2,76.0,6000.0,30,34,6529.0
34,1,101.0,honda,gas,std,two,hatchback,fwd,front,93.7,...,92,1bbl,2.91,3.41,9.2,76.0,6000.0,30,34,7129.0

In [158]:
df = df[['make','fuel_type','drive_wheels']]
df.head()

     make fuel_type drive_wheels
30  honda       gas          fwd
31  honda       gas          fwd
32  honda       gas          fwd
33  honda       gas          fwd
34  honda       gas          fwd

In [156]:
df.iloc[0]

make            honda
fuel_type         gas
drive_wheels      fwd
Name: 30, dtype: object

In [155]:
d = {}
d[1] = [23]
d[1] = []
for k, v in d.items():
    print(k)
    print(v)

1
[]

In [39]:
crosstable = pd.crosstab(df.__getattr__('make'), df.__getattr__('drive_wheels'))
crosstable

drive_wheels  4wd  fwd  rwd
make
honda           0   13    0
mazda           0   11    6
mitsubishi      0   13    0
nissan          0   15    3
subaru          5    7    0
toyota          2   16   14
volkswagen      0   12    0
volvo           0    0   11

In [6]:
index = crosstable.index.tolist()
index

['honda',
 'mazda',
 'mitsubishi',
 'nissan',
 'subaru',
 'toyota',
 'volkswagen',
 'volvo']

In [73]:
crosstable.loc['honda'] = crosstable.loc['honda'] + crosstable.loc['mazda']
crosstable = crosstable.drop(labels=['mazda'], axis = 0)

In [79]:
crosstable = crosstable.rename(index={'honda': 'honda,mazda'})

In [91]:
crosstable

drive_wheels  4wd  fwd  rwd
make
honda,mazda     0   24    6
mitsubishi      0   13    0
nissan          0   15    3
subaru          5    7    0
toyota          2   16   14
volkswagen      0   12    0
volvo           0    0   11

In [40]:
table = crosstable.loc[list(comb)]
table.values

array([[ 0, 12,  0],
       [ 0,  0, 11]], dtype=int64)

In [62]:
table_v = table.values
i = 0
for col in table_v.T:

    if np.sum(col)==0:
        print(col)
        table_v = np.delete(table_v, i, axis=1)
    i += 1

[0 0]

In [95]:
a = [1,2,3]
a[:-1]

[1, 2]

In [172]:
chi2_contingency([[1],[1]])

(0.0, 1.0, 0, array([[1.],
        [1.]]))

In [64]:
from scipy.stats import chi2_contingency
chi2_contingency(table_v)

(19.166996671258033,
 1.1976628085159652e-05,
 1,
 array([[6.26086957, 5.73913043],
        [5.73913043, 5.26086957]]))

In [78]:
c_table = np.array([[1,'a','x','yes'],
                  [1,'b','x','yes'],
                    [1,'a','x','yes'],
                  [1,'b','x','yes'],
                    [1,'a','x','yes'],
                  [1,'b','x','yes'],
                    [1,'a','x','yes'],
                  [1,'b','x','yes'],
                    [1,'a','x','yes'],
                  [1,'b','x','yes'],
                    [1,'a','x','yes'],
                  [1,'b','x','yes'],
                    [1,'a','x','yes'],
                  [1,'b','x','yes'],
                    [1,'a','x','yes'],
                  [1,'b','x','yes'],
                  [0,'a','y','no'],
                  [0,'a','x','no'],
                   [0,'a','y','no'],
                  [0,'a','x','no']])
data = pd.DataFrame(data=c_table, columns=['cat1','cat2','cat3','class'])
data

   cat1 cat2 cat3 class
0     1    a    x   yes
1     1    b    x   yes
2     1    a    x   yes
3     1    b    x   yes
4     1    a    x   yes
5     1    b    x   yes
6     1    a    x   yes
7     1    b    x   yes
8     1    a    x   yes
9     1    b    x   yes
10    1    a    x   yes
11    1    b    x   yes
12    1    a    x   yes
13    1    b    x   yes
14    1    a    x   yes
15    1    b    x   yes
16    0    a    y    no
17    0    a    x    no
18    0    a    y    no
19    0    a    x    no

In [79]:
crosstable = pd.crosstab(data['cat1'], data['class'])
chi2_contingency(crosstable)

(14.238281249999998, 0.0001610605738509368, 1, array([[ 0.8,  3.2],
        [ 3.2, 12.8]]))

In [31]:
data = df
col_names = data.columns.tolist()
col_names[-1] = 'class'
data.columns = col_names

In [84]:
type(data['cat1'][0])

str

In [80]:
dt = DecisionTreeCHAIDNode(max_depth=5, alpha_merge=0.05, alpha_stop=0.05)
dt.grow(data,1,['cat1','cat2','cat3'])
dt.print_tree()

contingency table:
 class  no  yes
cat1
0       4    0
1       0   16
feature:cat1, unique_category:['0', '1']
feature:cat1 adj_p:0.0001610605738509368, groups:[['0'], ['1']]
contingency table:
 class  no  yes
cat2
a       4    8
b       0    8
feature:cat2, unique_category:['a', 'b']
feature:cat2 adj_p:0.20940706284456176, groups:[['a'], ['b']]
contingency table:
 class  no  yes
cat3
x       2   16
y       2    0
feature:cat3, unique_category:['x', 'y']
feature:cat3 adj_p:0.04039088544615939, groups:[['x'], ['y']]

split on feature:cat1 adj_p=0.0001610605738509368
['0']
['cat1', 'cat2', 'cat3']
---- new node with features:['cat2', 'cat3'], split_val:['0']
terminate at depth 2
['1']
['cat1', 'cat2', 'cat3']
---- new node with features:['cat2', 'cat3'], split_val:['1']
terminate at depth 2
 Xcat1 = ['0']
  [no]
 Xcat1 = ['1']
  [yes]

In [81]:
np.sum(dt.predict(data.iloc[:,:-1]) == data.iloc[:,-1])/ len(data.iloc[:,-1])

1.0

In [414]:
dt.split_feature

'cat1'

In [415]:
dt.split_val

[['0'], ['1']]

In [416]:
dt.children[0].classification

'fwd'

In [407]:
data.iloc[:,:-1]

  cat1 cat2 cat3
0    1    a    x
1    1    b    x
2    0    a    y
3    0    a    x

In [110]:
"""
Author: Daiwei Lin
Date: 2019/04/01

ECE657A project

"""

import numpy as np
import pandas as pd
import math
import itertools
import copy
from scipy.stats import chi2_contingency

from sklearn.base import BaseEstimator, ClassifierMixin


class DecisionTreeCHAIDNode(BaseEstimator, ClassifierMixin):
    def __init__(self, max_depth, alpha_merge, alpha_stop, cat_features=None, ):
        # property
        self.max_depth = max_depth

        # constant
        self.cat_features = cat_features
        self.alpha_merge = alpha_merge
        self.alpha_stop = alpha_stop

        # variables
        self.children = list()
        self.isleaf = False

        self.split_val = None
        self.split_feature = None
        self.is_cat_feature = False
        self.classification = None

        self.depth = 0

    def is_pure(self, y):
        # check whether the branch is pure() having same class )

        # compare all class label with the class of first row.
        #         print(y)
        for i in y:
            if i != y[0]:
                return False
        return True

    def find_split_val(self, data, potential_features):
        # Find best split

        b_feature, b_value, b_score, b_groups = None, None, None, None


        for feature in potential_features:
            b_groups_of_cat, adj_p = self.merge(feature, data)
            print("feature:{} adj_p:{}, groups:{}".format(feature,adj_p, b_groups_of_cat))

            if b_score is None or adj_p < b_score:
                if b_groups_of_cat is None:
                    groups = None
                else:
                    groups = self.split(feature, b_groups_of_cat, data)
                    
                b_index, b_value, b_score, b_groups = feature, b_groups_of_cat, adj_p, groups
                
        return {'index': b_index, 'value': b_value, 'groups': b_groups, 'adj_p': b_score}

    def split(self, feature, groups_of_cat, data):
        # split data according to split criteria

        # create one dic pair for each group in split value (groups_of_cat)
        groups = dict()
        groups_len = len(groups_of_cat)
        for i in range(groups_len):
            groups[i] = list()

        selected_feature = data[feature].tolist()

        for f_idx in range(len(selected_feature)):
            for g_idx in range(groups_len):
                if selected_feature[f_idx] in groups_of_cat[g_idx]:
                    groups[g_idx].append(f_idx)
                    break

        for g_idx, f_idx in groups.items():
            groups[g_idx] = data.iloc[f_idx]

        return groups


        # if feature in self.cat_features:
        # categorical feature ( multiple branches )
        # create branches for each category
        # for idx, row in enumerate(X):
        #     if row[feature] in groups.keys():
        #         groups[row[feature]]['X'].append(row)
        #         groups[row[feature]]['y'].append(y[idx])
        #     else:
        #         groups[row[feature]] = {'X': [row], 'y': [y[idx]]}
        # else:
        #     # numerical feature (binary branches)
        #     # data with feature value smaller than val goes to left ( feature < val )
        #     # the rest goes to right
        #     groups['left'] = {'X': list(), 'y': list()}
        #     groups['right'] = {'X': list(), 'y': list()}
        #     for idx, row in enumerate(X):
        #         if row[feature] < val:
        #             groups['left']['X'].append(row)
        #             groups['left']['y'].append(y[idx])
        #         else:
        #             groups['right']['X'].append(row)
        #             groups['right']['y'].append(y[idx])

        # return groups

    def bonf_adjust(self, p, c, r):
        '''

        :param p: p value
        :param c: number of original categories
        :param r: number of merged categories
        :return: adjusted p value
        '''
        B = 0.0
        for i in range(r):
            B += math.pow(-1,i) * math.pow(r-i, c) / (math.factorial(r) * math.factorial(r-i))
        p * B
#         print("p {}, c {}, r {}, B {}, adj_p {}".format(p,c,r,B, B*p))
        return p * B

    def rm_empty_col(self, c_table):
        # delete columns with all 0 in a contingency table
        # take NUMPY ARRAY as input

        # print(c_table)
        i = 0
        for col in c_table.T:
            if np.sum(col) == 0:
                # print("delete col {}".format(i))
                c_table = np.delete(c_table, i, axis=1)
                i -= 1
            i += 1
        return c_table

    def merge_single_comb(self, c_table, comb):
        # merge contingency table rows according to single combination
        cat_A = comb[0]
        cat_B = comb[1]
        c_table.loc[cat_A,] = c_table.loc[cat_A,] + c_table.loc[cat_B,]
        c_table = c_table.drop(labels=[cat_B], axis=0)
        c_table = c_table.rename(index={cat_A: str(cat_A)+','+str(cat_B)})

        return c_table

    def merge(self, feature, data):
        # find best merge of categories in a given feature
        # Return: b_groups: nested list of merged result
        #         adj_p: adjusted p value of merged result
        
        contingency_table = pd.crosstab(data[feature], data['class'])
        unique_category = contingency_table.index.tolist()
#         print("contingency table: \n {}".format(contingency_table))
#         print("feature:{}, unique_category:{}".format(feature,unique_category))
        b_groups, adj_p = None, None
        c = len(unique_category)

        if c == 1:
            adj_p = 1
            return b_groups, adj_p

        elif c == 2:
            sub_table = self.rm_empty_col(contingency_table.values)
            chi2, p, _, _ = chi2_contingency(sub_table)
            b_groups = list()
            for cat in unique_category:
                b_groups.append([cat])
            adj_p = p
            return b_groups, adj_p

        else:

            while True:

                # Get the best combination with
                # highest p value for all pairs of categories
                b_comb, b_pvalue = None, None
                for comb in itertools.combinations(unique_category,2):
                    sub_table = contingency_table.loc[list(comb)]
                    sub_table = self.rm_empty_col(sub_table.values)

                    chi2, p, _, _ = chi2_contingency(sub_table)
                    if b_pvalue is None or b_pvalue < p:
                        b_comb, b_pvalue = list(comb), p

                if b_pvalue < self.alpha_merge:
                    # stop if best p is smaller than alpha_merge
                    break
                else:
                    # merge selected combination
                    # print("merge {}".format(b_comb))
                    contingency_table = self.merge_single_comb(contingency_table, b_comb)
                    unique_category = contingency_table.index.tolist()
                    # print("unique category: {}".format(unique_category))
                    # stop merging if only 2 categories left
                    if len(unique_category) <= 2:
                        break

            # Get p value for final merged contigency_table
            chi2, p, _, _ = chi2_contingency(contingency_table)
            # Bonferroni adjustment of p value
            r = len(unique_category)
            adj_p = self.bonf_adjust(p,c,r)
            b_groups = list()
            print(unique_category)
            for gr in unique_category:
                b_groups.append(gr.split(','))

        return b_groups, adj_p

    def grow(self, data, depth, potential_features):
        #         print("\ndepth={}, p_features={}".format(depth,potential_features))
        y = data['class'].tolist()
        if self.is_pure(y) or self.max_depth <= depth or len(potential_features) == 0:
            #             print("terminate at depth={}".format(depth))
            self.terminate(y, depth)
            return
        else:

            best_split = self.find_split_val(data, potential_features)
            
            if best_split['adj_p'] <= self.alpha_stop:
                self.split_val = best_split['value']
                self.split_feature = best_split['index']
                # self.is_cat_feature = best_split['is_cat_feature']
                print("\nsplit on feature:{} adj_p={}".format(self.split_feature, best_split['adj_p']))



                for idx, gr in best_split['groups'].items():
                    node = DecisionTreeCHAIDNode(self.max_depth,self.alpha_merge,self.alpha_stop)
                    new_potential_features = copy.deepcopy(potential_features)
                    
                    if len(self.split_val[idx]) == 1:
                        print(self.split_val[idx])
                        print(new_potential_features)
                        new_potential_features.remove(self.split_feature)
                    print("---- new node with features:{}, split_val:{}".format(new_potential_features,self.split_val[idx]))
                    node.grow(gr, depth + 1, new_potential_features)
                    self.children.append(node)
            else:
                print("adj_p {} larger than alpha stop".format(best_split['adj_p']))
                self.terminate(y, depth)
                #             print("{}X{} < {} gini={}".format(self.depth*' ',self.split_feature+1, self.split_val, best_split['gini']))


        self.depth = depth
        return

    def terminate(self, y, depth):
        # define leaf node
        # most frequent class in the data as class label of this node
        print("terminate at depth {}".format(depth))
        self.classification = max(set(y), key=y.count)
        self.isleaf = True
        self.depth = depth

    def fit(self, X, y):
        # grow a tree
        # n = len(X.columns)

        # # convert cat_feature to its index in data X's columns
        # if self.cat_features is None:
        #     self.cat_features = []
        # else:
        #     i = 0
        #     cat_features_idx = []
        #     for col in X.columns:
        #         if col in self.cat_features:
        #             cat_features_idx.append(i)
        #         i += 1
        #     self.cat_features = cat_features_idx

#         X = X.values.tolist()
#         y = y.values.tolist()

        X['class'] = y
        data = X
        # potential_features = np.linspace(0, n - 1, n, dtype=np.int32).tolist()
        potential_features = X.columns.tolist()
        self.grow(data, 1, potential_features)
        return self

    def print_tree(self):
        if not self.isleaf:
#             if self.is_cat_feature:
            for i in range(len(self.split_val)):
                print("{}X{} = {} ".format(self.depth * ' ', self.split_feature, self.split_val[i]))
                self.children[i].print_tree()
        else:
            print("{}[{}]".format(self.depth * ' ', self.classification))

    def predict_iterate(self, row):

        if self.isleaf:
            # is leaf node
            return self.classification
        else:
            # not leaf node
            # predict categorical feature
            for i in range(len(self.split_val)):
                if row[self.split_feature] in self.split_val[i]:
                    return self.children[i].predict_iterate(row)
            return None
        
    def predict(self, X):
        num_rows = X.shape[0]
        prediction = []
        #         prediction = np.zeros((num_rows,1))
        for _, row in X.iterrows():
            prediction.append(self.predict_iterate(row))

        return np.array(prediction)

# Test on Breast Cancer Dataset

In [111]:
import pandas as pd

In [112]:
#Loading dataset
attributes=["Sample code number","Clump Thickness", "Uniformity of Cell Size", "Uniformity of Cell Shape", "Marginal Adhesion","Single Epithelial Cell Size","Bare Nuclei","Bland Chromatin","Normal Nucleoli","Mitoses","class"]
attributes1=["Sample code number","Clump Thickness", "Uniformity of Cell Size", "Uniformity of Cell Shape", "Marginal Adhesion","Single Epithelial Cell Size","Bare Nuclei","Bland Chromatin","Normal Nucleoli","Mitoses"]
df= pd.read_csv("./dataset/breast-cancer-wisconsin.data",header=None,names=attributes, na_values=['?'])
df.head()

,Sample code number,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,class
0,1000025,5,1,1,1,2,1.0,3,1,1,2
1,1002945,5,4,4,5,7,10.0,3,2,1,2
2,1015425,3,1,1,1,2,2.0,3,1,1,2
3,1016277,6,8,8,1,3,4.0,3,7,1,2
4,1017023,4,1,1,3,2,1.0,3,1,1,2

In [113]:
df['class'].replace(to_replace= 2, value = 0, inplace = True)
df['class'].replace(to_replace= 4, value = 1, inplace = True)
df = df.drop(columns=["Sample code number"])
df.head()

,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,class
0,5,1,1,1,2,1.0,3,1,1,0
1,5,4,4,5,7,10.0,3,2,1,0
2,3,1,1,1,2,2.0,3,1,1,0
3,6,8,8,1,3,4.0,3,7,1,0
4,4,1,1,3,2,1.0,3,1,1,0

In [114]:
df = df.fillna(df.mode().iloc[0])
df.isnull().sum().sum()

0

In [115]:
df[str_cols] = df[str_cols].astype('str')
df.head()

,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,class
0,5,1,1,1,2,1.0,3,1,1,0
1,5,4,4,5,7,10.0,3,2,1,0
2,3,1,1,1,2,2.0,3,1,1,0
3,6,8,8,1,3,4.0,3,7,1,0
4,4,1,1,3,2,1.0,3,1,1,0

In [116]:
from sklearn.model_selection import train_test_split
X = df.iloc[:,:-1]
y = df.iloc[:,-1]
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.33)

In [117]:
for x in X_train['Clump Thickness']:
    if type(x) != str:
        print(x)

In [118]:
str_cols = X.columns.tolist()
str_cols

['Clump Thickness',
 'Uniformity of Cell Size',
 'Uniformity of Cell Shape',
 'Marginal Adhesion',
 'Single Epithelial Cell Size',
 'Bare Nuclei',
 'Bland Chromatin',
 'Normal Nucleoli',
 'Mitoses']

In [119]:
dt = DecisionTreeCHAIDNode(max_depth=10, alpha_merge=0.05, alpha_stop=0.05)
dt.fit(X_train, y_train)
dt.print_tree()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:288: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

contingency table:
 class              0   1
Clump Thickness
1                104   1
10                 0  46
2                 29   3
3                 70   8
4                 40  10
5                 52  28
6                  7   8
7                  1  13
8                  4  33
9                  0  11
feature:Clump Thickness, unique_category:['1', '10', '2', '3', '4', '5', '6', '7', '8', '9']
['1', '10,9', '2,3,4', '5,6', '7,8']
feature:Clump Thickness adj_p:2.8347868024278334e-53, groups:[['1'], ['10', '9'], ['2', '3', '4'], ['5', '6'], ['7', '8']]
contingency table:
 class                      0   1
Uniformity of Cell Size
1                        256   3
10                         0  45
2                         24   5
3                         18  14
4                          6  21
5                          0  18
6                          1  18
7                          1  15
8                          1  19
9                          0   3
feature:Uniformity of Cell Size, unique_category:['1', '10', '2', '3', '4', '5', '6', '7', '8', '9']
['1', '10,5,9,6,7,8', '2,3', '4']
feature:Uniformity of Cell Size adj_p:2.8904030413619683e-75, groups:[['1'], ['10', '5', '9', '6', '7', '8'], ['2', '3'], ['4']]
contingency table:
 class                       0   1
Uniformity of Cell Shape
1                         243   2
10                          0  42
2                          32   3
3                          14  13
4                          12  23
5                           1  19
6                           3  19
7                           1  17
8                           1  19
9                           0   4
feature:Uniformity of Cell Shape, unique_category:['1', '10', '2', '3', '4', '5', '6', '7', '8', '9']
['1', '10,9,5,8,6,7', '2', '3,4']
feature:Uniformity of Cell Shape adj_p:1.915607913404708e-73, groups:[['1'], ['10', '9', '5', '8', '6', '7'], ['2'], ['3', '4']]
contingency table:
 class                0   1
Marginal Adhesion
1                  257  20
10                   0  31
2                   25  15
3                   14  19
4                    4  24
5                    3  14
6                    3  14
7                    0   8
8                    0  12
9                    1   4
feature:Marginal Adhesion, unique_category:['1', '10', '2', '3', '4', '5', '6', '7', '8', '9']
['1', '10,7,8', '2,3', '4,5,6,9']
feature:Marginal Adhesion adj_p:6.702419999135551e-54, groups:[['1'], ['10', '7', '8'], ['2', '3'], ['4', '5', '6', '9']]
contingency table:
 class                          0   1
Single Epithelial Cell Size
1                             27   1
10                             0  20
2                            250  17
3                             18  30
4                              4  28
5                              3  22
6                              2  23
7                              1   6
8                              2  12
9                              0   2
feature:Single Epithelial Cell Size, unique_category:['1', '10', '2', '3', '4', '5', '6', '7', '8', '9']
['1,2', '10,9,4,5,6,7,8', '3']
feature:Single Epithelial Cell Size adj_p:1.2409947920109205e-61, groups:[['1', '2'], ['10', '9', '4', '5', '6', '7', '8'], ['3']]
contingency table:
 class          0   1
Bare Nuclei
1.0          275  14
10.0           3  84
2.0           11   7
3.0            6  11
4.0            4   8
5.0            6  12
6.0            0   4
7.0            1   4
8.0            1  10
9.0            0   7
feature:Bare Nuclei, unique_category:['1.0', '10.0', '2.0', '3.0', '4.0', '5.0', '6.0', '7.0', '8.0', '9.0']
['1.0', '10.0,6.0,9.0,8.0', '2.0,3.0,4.0,5.0,7.0']
feature:Bare Nuclei adj_p:1.8148288151929153e-66, groups:[['1.0'], ['10.0', '6.0', '9.0', '8.0'], ['2.0', '3.0', '4.0', '5.0', '7.0']]
contingency table:
 class              0   1
Bland Chromatin
1                 97   2
10                 0  14
2                109   6
3                 87  22
4                  5  21
5                  4  18
6                  0   7
7                  5  43
8                  0  19
9                  0   9
feature:Bland Chromatin, unique_category:['1', '10', '2', '3', '4', '5', '6', '7', '8', '9']
['1,2', '10,6,8,9', '3', '4,5,7']
feature:Bland Chromatin adj_p:3.0793241530906067e-62, groups:[['1', '2'], ['10', '6', '8', '9'], ['3'], ['4', '5', '7']]
contingency table:
 class              0   1
Normal Nucleoli
1                264  28
10                 0  40
2                 22   4
3                  9  22
4                  1  10
5                  2   9
6                  3  16
7                  2   8
8                  4  12
9                  0  12
feature:Normal Nucleoli, unique_category:['1', '10', '2', '3', '4', '5', '6', '7', '8', '9']
['1,2', '10,9', '3,8,4,5,7,6']
feature:Normal Nucleoli adj_p:1.3702093317045163e-55, groups:[['1', '2'], ['10', '9'], ['3', '8', '4', '5', '7', '6']]
contingency table:
 class      0   1
Mitoses
1        297  89
10         0   6
2          5  20
3          2  19
4          0   9
5          1   4
6          0   2
7          1   6
8          1   6
feature:Mitoses, unique_category:['1', '10', '2', '3', '4', '5', '6', '7', '8']
['1', '10,4,6,2,5,7,8,3']
feature:Mitoses adj_p:1.9775101233350983e-26, groups:[['1'], ['10', '4', '6', '2', '5', '7', '8', '3']]
contingency table:
 class    0    1
class
0      307    0
1        0  161
feature:class, unique_category:[0, 1]
feature:class adj_p:7.998271123908348e-103, groups:[[0], [1]]

split on feature:class adj_p=7.998271123908348e-103
[0]
['Clump Thickness', 'Uniformity of Cell Size', 'Uniformity of Cell Shape', 'Marginal Adhesion', 'Single Epithelial Cell Size', 'Bare Nuclei', 'Bland Chromatin', 'Normal Nucleoli', 'Mitoses', 'class']
---- new node with features:['Clump Thickness', 'Uniformity of Cell Size', 'Uniformity of Cell Shape', 'Marginal Adhesion', 'Single Epithelial Cell Size', 'Bare Nuclei', 'Bland Chromatin', 'Normal Nucleoli', 'Mitoses'], split_val:[0]
terminate at depth 2
[1]
['Clump Thickness', 'Uniformity of Cell Size', 'Uniformity of Cell Shape', 'Marginal Adhesion', 'Single Epithelial Cell Size', 'Bare Nuclei', 'Bland Chromatin', 'Normal Nucleoli', 'Mitoses', 'class']
---- new node with features:['Clump Thickness', 'Uniformity of Cell Size', 'Uniformity of Cell Shape', 'Marginal Adhesion', 'Single Epithelial Cell Size', 'Bare Nuclei', 'Bland Chromatin', 'Normal Nucleoli', 'Mitoses'], split_val:[1]
terminate at depth 2
 Xclass = [0]
  [0]
 Xclass = [1]
  [1]

In [101]:
np.sum(dt.predict(X) == y)/len(y)

0.9685264663805436